/* facebook gomb */
.btn-facebook {
    border: none;
    background-color: #3A5795;
    color: #f0f0f0;
    box-shadow: 0px 0px 3px black;
    border-radius: 3px;
    transition: all 0.5s;
}

.btn-facebook:hover {
     box-shadow: 0px 0px 8px black;
}

/* Alapban eltüntetjük a beviteli mezőket */
.profile-div {
    /* kezdő állapot */
    position: fixed;
    left: -100%;
    top: 100px;
    opacity: 0;
}

/* Animálva megjelennek a mezők */
.profile-div.show {
    position: relative;
    animation-name: facebook; /* Az animáció kockái */
    animation-duration: 1s; /* Meddig tart */
    animation-timing-function: ease-out; /* Az animáció függvénye */
    
    /* végállapot */
    left: 0;
    top: 0;
    opacity: 1;    
}

/* Keyframes: kulcskockák*/
@keyframes facebook {
    0%      {opacity: 0; left: -100%; top: 100px;}
    50%     {opacity: 0.5; left: 0; top: 100px; }
    100%    {opacity: 1; left: 0; top: 0;}
}

/* profil div*/
.profile-div form {
    width: 50%;
    margin: 10px auto;
}

/* Média query */
/* A képernyőn vagyunk és a max-width kisebb vagy egyenlő 550px */
@media screen and (max-width: 550px){
    .profile-div form {
        width: 100%; /* töltse ki a képernyőt*/
    }
}
